.intro-wrap {
  padding: .4rem 0;
  border-bottom: .2rem solid #f8f8f9;
  ul {
    padding: 0 .7rem;
    height: .9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      height: 100%;
      .nav-item {
        height: 100%;
        width: .96rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: .24rem;
      }
    }
  }
}