.home-lbt {
  height: 3rem;
  .ant-carousel .slick-slide {
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    background: #364d79;
    overflow: hidden;
    img {
      height: 3rem;
    }
  }
}

