.product-item {
  margin-bottom: .2rem;
  box-shadow: 0 2px .2rem 0 rgba(183,183,190,.25);
  border-radius: .08rem;
  display: flex;
  .month {
    width: 1.4rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    background: linear-gradient(90deg,#e1cca9,#c29f6b);
    border-radius: .08rem 0 0 .08rem;
    color: #fff;
    span {
      font-size: .64rem;
      line-height: .64rem;
      text-shadow: 0 2px 6px #c5a584;
    }
  }
  .details {
    display: flex;
    flex: 1;
    .details-left {
      display: flex;
      flex-direction: column;
      padding-left: .26rem;
      font-size: .2rem;
      strong {
        margin-top: .25rem;
        font-size: .52rem;
        line-height: .52rem;
        em {
          font-size: .36rem;
        }
      }
      .pre {
        color: #b7b7be;
      }
      .priority {
        margin: .09rem 1rem 0 0;
        padding: .06rem .12rem;
        font-size: .2rem;
        line-height: .2rem;
        background: #f8f8f9;
        border-radius: 4px;
      }
    }
    .details-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        margin-right: .32rem;
        border-radius: .36rem;
        background: linear-gradient(90deg,#e1cca9,#c29f6b);
        width: 1.4rem;
        height: .6rem;
        line-height: .6rem;
        text-align: center;
        color: #fff;
      }
    }
  }
}